<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="./style5.css">
<link rel="stylesheet" href="./style7.css">
</head>
<body style="background-color: #9A616D;">

<div class="topnav">
<span class="left">SMART PROJECTS</span>
  <a class="active" href="./logout">Log out</a>
  <span class="right" th:text="${user}">News</span>
  
</div>
<div class="container">

 
  <div class="cover">
    <h1>View project in detail.</h1>
    <form  class="flex-form" method="post" action="viewProjectdetails">
      <label for="from">
        <i class="ion-location"></i>
      </label>
      <input type="search" placeholder="Enter project title." name="title">
      <input type="submit" value="Search">
    </form>
    
  </div>

</div>
</body>
</html>